<div class="row">

  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">فريق جديد</div>
      <div class="panel-body">

        <form>
          <div class="form-group">
            <label for="team_name">إسم الفريق:</label>
            <input type="text" class="form-control" id="team_name" name="name" [(ngModel)]="team.name">
          </div>
          <div class="form-group">
            <label for="image">صورة الفريق :</label>
            <image-upload
              [max]="100"
              [buttonCaption]="'إختا صورة الفريق'"
              [dropBoxMessage]="'اسحب الصوره هنا '"
              [extensions]="['jpg','png']"
              (onFileUploadFinish)="imageUploaded($event)"
              [preview]="true"
            ></image-upload>
          </div>
          <button type="submit" class="btn btn-default" (click)="save()">حفظ</button>
        </form>

      </div>
    </div>
  </div>
</div>
