<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">خبر جديد</div>
      <div class="panel-body">

        <form>
          <div class="form-group">
            <label for="title">عنوان الخبر:</label>
            <input type="text" class="form-control" id="title" name="title" [(ngModel)]="_new.title">
          </div>
          <div class="form-group">
            <label for="image">صورة الخبر:</label>
            <image-upload
              [max]="100"
              [buttonCaption]="'إختار صورة الخبر'"
              [dropBoxMessage]="'اسحب الصوره هنا '"
              [extensions]="['jpg','png']"
              (onFileUploadFinish)="imageUploaded($event)"
              [preview]="true"
            ></image-upload>
          </div>
          <div class="form-group">
            <label for="desc">محتوي الخبر:</label>
            <textarea class="form-control" id="desc" name="desc" [(ngModel)]="_new.desc"></textarea>
          </div>
          <button type="submit" class="btn btn-default" (click)="save()">حفظ</button>
        </form>

      </div>
    </div>
  </div>
</div>
