<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">عرض الفرق</div>
      <div class="panel-body">

        <table class='table table-striped'>
          <thead>
            <th>اسم الفريق</th>
            <th>حدث</th>
          </thead>
          <tbody>
            <tr *ngFor="let team of teams">
                <td><img src="{{team.image}}" width="60" height="60"></td>
                <td>{{team.name}}</td>
                <td><button class="btn btn-danger" (click)="delete(team._id)">حذف</button></td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
