<div class="container">
  <div class="row">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ماتشاتي</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">المباريات <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/add_match']" href="#">اضافه</a></li>
            <li><a [routerLink]="['/list_matchs']" href="#">عرض</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">الاخبار <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/add_new']" href="#">اضافه</a></li>
            <li><a [routerLink]="['/list_news']" href="#">عرض</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">الفرق <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/add_team']" href="#">اضافه</a></li>
            <li><a [routerLink]="['/list_teams']" href="#">عرض</a></li>
          </ul>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <router-outlet></router-outlet>
  </div>
</div>
