<div class="row">

  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">ماتش جديد</div>
      <div class="panel-body">

        <form>
          <div class="form-group">
            <label for="home">الفريق المضيف:</label>
            <!--<input type="text" class="form-control" id="home" name="home" [(ngModel)]="match.home">-->
            <ng2-completer name="captain_home" inputClass="form-control" (selected)="item_select($event,0)" [(ngModel)]="captain_home" [datasource]="dataService" [minSearchLength]="0"></ng2-completer>
            <img *ngIf="home_log" src="{{home_log}}" alt="" width="50" height="50">
          </div>
          <div class="form-group">
            <label for="away"> الفريق الضيف:</label>
            <!--<input type="text" class="form-control" id="away" name="away" [(ngModel)]="match.away">-->
            <ng2-completer name="captain_away" inputClass="form-control" (selected)="item_select($event,1)" [(ngModel)]="captain_away" [datasource]="dataService" [minSearchLength]="0"></ng2-completer>
            <img *ngIf="away_log" src="{{away_log}}" alt="" width="50" height="50">
          </div>

          <div class="form-group">
            <label for="championship"> البطولة:</label>
            <ng2-completer name="captain_champ" inputClass="form-control" (selected)="champ_select($event)" [(ngModel)]="captain_champ" [datasource]="champService" [minSearchLength]="0"></ng2-completer>
          </div>

          <div class="form-group">
            <label for="datetime">التوقيت:</label>
            <input type="text" autocomplete="off" class="form-control" id="datetime">
          </div>

          <div class="form-group">
            <label for="link">رابط البث:</label>
            <input type="text" class="form-control" id="link" name="link" [(ngModel)]="match.link">
          </div>

          <div class="form-group">
            <label for="link_type">نوع اللينك:</label>
            <select class="form-control" id="link_type" name="link_type" [(ngModel)]="match.link_type">
              <option value="0">Facebook</option>
              <option value="1">Youtube</option>
            </select>
          </div>

          <div class="form-group">
            <label for="link">النتيجه:</label>
            <input type="text" class="form-control" id="result" name="result" [(ngModel)]="match.result">
          </div>

          <button type="submit" class="btn btn-default" (click)="save()">حفظ</button>
        </form>

      </div>
    </div>
  </div>
</div>
