<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">عرض المباريات</div>
      <div class="panel-body">
        <button type="submit" (click)="withdraw()" class="btn btn-success">اسحب من يالاكوره</button>
        <span>{{result}}</span>
        <hr />
        <form class="form-inline">
          <div class="form-group">
            <label for="date_str">التاريخ:</label>
            <input type="text" class="form-control" id="date_str" name="date_str" [(ngModel)]="date_str">
          </div>
          <button type="submit" (click)="search()" class="btn btn-default">بحث</button>
        </form>
        <hr />
        <table class='table table-striped'>
          <thead>
            <th>الفرق</th>
            <th>البطولة</th>
            <th>التوقيت</th>
            <th>حدث</th>
          </thead>
          <tbody>
            <tr *ngFor="let match of matches">
                <td>{{match.home.name}}-{{match.away.name}}</td>
                <td>{{match.championship.name}}</td>
                <td>{{match.datetime}}</td>
                <td><button class="btn btn-success" (click)="edit(match)">تعديل</button>&nbsp;<button class="btn btn-danger" (click)="delete(match._id)">حذف</button></td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
