<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">الاخبار</div>
      <div class="panel-body">

        <table class='table table-striped'>
          <thead>
            <th>الصوره</th>
            <th>العنوان</th>
            <th>حدث</th>
          </thead>
          <tbody>
            <tr *ngFor="let _new of _news">
                <td><img src="{{_new.image}}" width="60" height="60"></td>
                <td>{{_new.title}}</td>
                <td><button class="btn btn-danger" (click)="delete(_new._id)">حذف</button></td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
